[Unit]
Description=Run Popular Podcasts Export every 6 hours

[Timer]
OnCalendar=*-*-* 00/6:00:00 UTC
Persistent=true
RandomizedDelaySec=120

[Install]
WantedBy=timers.target
